@import "tailwindcss";



/* Skrollni o'zgartirish */
::-webkit-scrollbar {
    width: 10px;  /* Skrollning kengligi */
}

/* Skrollning yuzasi */
::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Yuzaning rangi */
}

/* Skrollning ushi */
::-webkit-scrollbar-thumb {
    background: #001bc8;  /* Ushaning rangi */
    border-radius: 10px;  /* Ushaning burchaklarini yumshatish */
}

/* Skrollning ushi ustiga olib borilganda o'zgartirish */
::-webkit-scrollbar-thumb:hover {
    background: #4800ff;  /* Hover holatidagi rang */
}